@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
}

button {
  border: none;
  background-color: inherit;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

:root {
  /* Primary Colors */
  --orange: hsl(26, 100%, 55%);
  --paleorange: hsl(25, 100%, 94%);
  /* Neutral Colors */
  --veryvarkblue: hsl(220, 13%, 13%);
  --darkgrayishblue: hsl(219, 9%, 45%);
  --grayishblue: hsl(220, 14%, 75%);
  --lightgrayishblue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --blackwithopacity: hsl(0, 0%, 0%, 0.75);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: var(--orange);
  letter-spacing: 1px;
  font-size: 1rem;
}

img {
  cursor: pointer;
}

@media (max-width: 549px) {
  .slider__mobile {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    height: 320px;
  }
  .slider__mobileimg {
    position: absolute;
    border-radius: 0;
  }
  .slider__arrow {
    position: absolute;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider__arrow--next {
    right: 5%;
    top: calc(50% - 13px);
  }
  .slider__arrow--previous {
    left: 5%;
    top: calc(50% - 13px);
  }
  .slider__desktopimages.hidden {
    display: none;
  }
  .slider__lightbox.hidden {
    display: none;
  }
  .slider__textsection {
    padding: 20px;
  }
  .slider__textsection > p {
    color: var(--darkgrayishblue);
    line-height: 1.3rem;
  }
  .slider__textsectiondescription > * {
    margin-bottom: 10px;
  }
  .slider__textsectionprices {
    position: relative;
  }
  .slider__textsectionprices > * {
    margin-bottom: 10px;
  }
  .slider__textsectionprices .slider__textsectionflexbox {
    display: flex;
  }
  .slider__textsectionprices .slider__textsectionprice {
    font-size: 1.5rem;
    margin-right: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;
  }
  .slider__textsectionprices .slider__textsectiondiscount {
    display: flex;
    align-items: center;
    color: var(--orange);
    font-size: 1rem;
    font-weight: 700;
  }
  .slider__textsectionprices .slider__textsectiondiscount p {
    border-radius: 10%;
    padding: 3px;
    background-color: var(--paleorange);
  }
  .slider__textsectionprices .slider__textsectionoriginalprice {
    color: var(--grayishblue);
    text-decoration: line-through;
    position: absolute;
    right: 0;
    top: 5px;
  }
  .slider__textsectionbuttons > * {
    margin-bottom: 10px;
  }
  .slider__textsectionbtn {
    border-radius: 5px;
    background-color: var(--lightgrayishblue);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border: none;
  }
  .slider__textsectionbtn--add {
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    background-color: var(--orange);
    border-radius: 5px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    cursor: pointer;
  }
  .slider__textsectionbtn--add img {
    width: auto;
    height: auto;
  }
  .slider__textsectionbtn--add-add:hover {
    opacity: 0.5;
  }
}

@media (min-width: 550px) {
  .slider {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 10%;
  }
  .slider__images {
    width: 40%;
  }
  .slider__images .slider__mobile.hidden {
    display: none;
  }
  .slider__textsection {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }
  .slider__textsection > p {
    color: var(--darkgrayishblue);
    line-height: 1.3rem;
  }
  .slider__textsection > * {
    margin-bottom: 20px;
  }
  .slider__textsectiondescription > * {
    margin-bottom: 10px;
  }
  .slider__textsectionprices .slider__textsectionflexbox {
    display: flex;
  }
  .slider__textsectionprices .slider__textsectionprice {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 15px;
  }
  .slider__textsectionprices .slider__textsectiondiscount {
    color: var(--orange);
    align-items: center;
    display: flex;
  }
  .slider__textsectionprices .slider__textsectiondiscount p {
    background-color: var(--paleorange);
    padding: 4px;
    border-radius: 10%;
    font-weight: 700;
  }
  .slider__textsectionprices .slider__textsectionoriginalprice {
    margin-top: 7px;
    color: var(--grayishblue);
    text-decoration: line-through;
    display: block;
  }
  .slider__textsectionbuttons .slider__textsectionbtn {
    border-radius: 5px;
    background-color: var(--lightgrayishblue);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    border: none;
    width: 40%;
  }
  .slider__textsectionbuttons .slider__textsectionbtn--add {
    color: white;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .slider__textsectionbuttons .slider__textsectionbtn--add:hover {
    opacity: 0.5;
  }
  .slider__desktopimages {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .slider__desktopimages .slider__desktopthumbnails {
    display: flex;
    gap: 10px;
  }
  .slider__arrow.hidden {
    display: none;
  }
  .slider__desktoparrow {
    position: absolute;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider__desktoparrow.slider__desktoparrow--next {
    right: 5%;
    top: calc(50% - 13px);
  }
  .slider__desktoparrow.slider__desktoparrow--previous {
    left: 5%;
    top: calc(50% - 13px);
  }
  .slider__lightbox {
    background-color: var(--blackwithopacity);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1;
    flex-direction: column;
  }
  .slider__lightbox.hidden {
    display: none;
  }
  .slider__lightboxmainimg {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 70%;
    max-height: 70%;
    position: relative;
  }
  .slider__lightboxmainimg img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
  }
  .slider__lightboxthumbnails {
    display: flex;
    margin: auto;
    max-width: 30%;
    gap: 20px;
    border-radius: 7%;
  }
  .slider__lightboxbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__lightboxbtn--next {
    top: 50%;
    right: -25px;
  }
  .slider__lightboxbtn--previous {
    top: 50%;
    left: -25px;
  }
  .slider__lightboxbtn img {
    width: 30%;
    height: 30%;
  }
  .slider__lightboxbtn img:hover {
    transform: scale(1.2);
  }
  .slider__lightboxbtn--close {
    top: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: inherit;
  }
  .cslider__lightboxbtn--close img {
    color: white;
  }
  .slider__textsectionbtn {
    width: 100%;
  }
  .slider__textsectionbuttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .slider__textsection {
    width: 50%;
  }
}

.active {
  opacity: 0.5;
  outline: 2px solid orange;
}

@media (max-width: 549px) {
  .nav {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .nav img {
    border-radius: 0;
    width: auto;
    height: auto;
  }
  .nav .nav__logo {
    flex-grow: 4;
  }
  .nav .nav__avatar img {
    height: 25px;
    width: 25px;
  }
  .nav .nav__dropdown {
    height: 1000px;
    margin: 0;
    min-width: 200px;
    background-color: var(--white);
    animation-duration: 0.5s;
    display: block;
    position: absolute;
    z-index: 1;
    left: -200px;
    top: 0;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
  }
  .nav .nav__dropdown.showanimation {
    animation-name: showDropdawn;
    animation-fill-mode: forwards;
  }
  .nav .nav__dropdown.hideanimation {
    animation-name: hideDropdawn;
  }
  .nav .nav__dropdown > * {
    cursor: pointer;
  }
  .nav .nav__dropdown .nav__dropdownclose {
    padding: 15px;
  }
  .nav .nav__dropdown .nav__dropdownmenu {
    list-style-type: none;
    display: inline-block;
    margin-right: auto;
    padding: 15px 15px 0 15px;
  }
  .nav .nav__dropdown .nav__dropdownmenu > li {
    padding-bottom: 15px;
  }
  .nav .nav__background {
    animation-duration: 0.5s;
    height: 1000px;
    width: 100%;
    background-color: #b3b3b3;
    opacity: 0.5;
    z-index: 1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    animation-fill-mode: forwards;
  }
  .nav .nav__background.hidden {
    display: none;
  }
  .nav .nav__background.showanimation {
    animation-name: showBackground;
  }
  .nav .nav__background.hideanimation {
    animation-name: hideBackground;
  }
  .nav .nav__basket {
    position: relative;
  }
  .nav .nav__basket .nav__basketpopup {
    position: absolute;
  }
  .nav .nav__basket .nav__basketpopup.nav__basketpopup--orange {
    color: var(--white);
    font-size: 0.75rem;
    width: 14px;
    height: 14px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    right: -2px;
    top: -2px;
  }
  .nav .nav__basket .nav__basketpopup.nav__basketpopup--orange.hidden {
    display: none;
  }
  .nav .nav__basket .nav__basketbtn img {
    height: 20px;
    width: 20px;
  }
  .nav .nav__cartproductdelete {
    display: flex;
    align-items: center;
  }
  .nav .nav__cart {
    z-index: 1;
    width: calc(100% - 40px);
    margin: 20px;
    top: 60px;
    height: 243.5px;
    left: 0;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .nav .nav__cart.hidden {
    display: none;
  }
  .nav .nav__cart .nav__carttitle {
    padding: 20px;
  }
  .nav .nav__cart .nav__carttitle.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartline {
    width: 100%;
    background-color: grey;
    height: 0.5px;
    opacity: 0.5;
  }
  .nav .nav__cart .nav__cartempty {
    width: 100%;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkgrayishblue);
  }
  .nav .nav__cart .nav__cartempty.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartorder {
    display: grid;
    padding: 20px;
    grid-template-columns: 60px 1fr 20px;
    gap: 20px;
  }
  .nav .nav__cart .nav__cartorder.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartorder .nav__cartproductimg {
    width: 60px;
    height: 60px;
  }
  .nav .nav__cart .nav__cartorder .nav__cartproductimg img {
    width: 100%;
    border-radius: 10%;
  }
  .nav .nav__cart .nav__cartproductdescription {
    color: var(--darkgrayishblue);
    height: 60px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproducttitle {
    margin: auto 0;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproductprices {
    display: flex;
    margin: auto 0;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproductprices .nav__cartproductsum {
    font-weight: 700;
    margin-left: 5px;
  }
  .nav .nav__cartproductcheckout {
    width: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }
  .nav .nav__cartproductcheckout p {
    color: white;
  }
}

@media (min-width: 550px) {
  .nav {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
  }
  .nav img {
    height: auto;
    width: auto;
    border-radius: 0;
  }
  .nav__basket {
    position: relative;
    align-items: center;
    order: 4;
  }
  .nav__basket .nav__basketpopup {
    position: absolute;
  }
  .nav__basket .nav__basketpopup.nav__basketpopup--orange {
    color: var(--white);
    font-size: 0.75rem;
    width: 14px;
    height: 14px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    right: -5px;
    top: -5px;
  }
  .nav__basket .nav__basketpopup.nav__basketpopup--orange.hidden {
    display: none;
  }
  .nav__basket .nav__basketbtn img {
    height: 20px;
    width: 20px;
  }
  .nav .nav__dropdown {
    order: 1;
    flex-grow: 5;
    display: flex;
    margin-left: 5%;
  }
  .nav .nav__dropdown .nav__dropdownclose.hidden {
    display: none;
  }
  .nav .nav__dropdown .nav__dropdownmenu {
    display: flex;
  }
  .nav .nav__dropdown .nav__dropdownmenu li {
    list-style-type: none;
    font-size: 1rem;
    width: 80px;
    text-align: center;
    color: var(--darkgrayishblue);
    cursor: pointer;
    position: relative;
  }
  .nav .nav__dropdown .nav__dropdownmenu li:hover {
    color: black;
  }
  .nav .nav__dropdown .nav__dropdownmenu li:hover:after {
    content: "";
    width: 100%;
    position: absolute;
    background-color: orange;
    height: 3px;
    top: 48px;
    left: 0;
  }
  .nav .nav__hamburger .nav__hamburgerbtn.hidden {
    display: none;
  }
  .nav .nav__cart {
    z-index: 1;
    width: 350px;
    height: 250px;
    top: 70px;
    right: 0;
    box-shadow: 0px 6px 20px -3px #a2a2af;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .nav .nav__cart.hidden {
    display: none;
  }
  .nav .nav__cart .nav__carttitle {
    padding: 20px;
  }
  .nav .nav__cart .nav__carttitle.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartline {
    width: 100%;
    background-color: grey;
    height: 0.5px;
    opacity: 0.3;
  }
  .nav .nav__cart .nav__cartempty {
    width: 100%;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkgrayishblue);
  }
  .nav .nav__cart .nav__cartempty.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartorder {
    display: grid;
    grid-template-columns: 60px 1fr 20px;
    gap: 20px;
    padding: 20px;
    position: relative;
  }
  .nav .nav__cart .nav__cartorder.hidden {
    display: none;
  }
  .nav .nav__cart .nav__cartorder .nav__cartproductimg > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .nav .nav__cart .nav__cartorder .nav__cartproductcheckout {
    width: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }
  .nav .nav__cart .nav__cartorder .nav__cartproductcheckout p {
    color: white;
  }
  .nav .nav__cart .nav__cartproductdescription {
    color: var(--darkgrayishblue);
    height: 60px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproducttitle {
    margin: auto 0;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproductprices {
    display: flex;
    margin: auto 0;
  }
  .nav .nav__cart .nav__cartproductdescription .nav__cartproductprices .nav__cartproductsum {
    font-weight: 700;
    margin-left: 5px;
  }
  .nav .nav__cart .nav__cartproductdelete {
    display: flex;
    align-items: center;
  }
  .nav .nav__avatar {
    border: none;
    background-color: inherit;
    order: 5;
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }
  .nav .nav__avatar img {
    width: 40px;
    height: 40px;
  }
  .nav .nav__avatar:hover {
    outline: 2px solid orange;
    border-radius: 100%;
  }
  .nav:after {
    content: "";
    width: 100%;
    background-color: grey;
    height: 0.5px;
    opacity: 0.2;
    position: absolute;
    top: 80px;
  }
}

@keyframes showBackground {
  from {
    right: 0;
  }
  to {
    left: 100px;
  }
}

@keyframes hideBackground {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}

@keyframes showDropdawn {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes hideDropdawn {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}
/*# sourceMappingURL=styles.css.map */