@media (max-width: 549px) {
  .nav {
    display: flex;
  }
  .nav button {
    cursor: pointer;
  }
  .nav > * {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .nav .nav__logo {
    flex-grow: 4;
  }
  .nav .nav__avatar img {
    height: 25px;
    width: 25px;
  }
  .nav .nav__dropdownnav {
    height: 100vh;
    min-width: 200px;
    background-color: var(--white);
    animation-duration: 0.5s;
    display: block;
    position: absolute;
    z-index: 1;
    left: -200px;
    top: 0;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
  }
  .nav .nav__dropdownnav.showanimation {
    animation-name: showDropdawn;
    animation-fill-mode: forwards;
  }
  .nav .nav__dropdownnav.hideanimation {
    animation-name: hideDropdawn;
  }
  .nav .nav__dropdownnav > * {
    cursor: pointer;
  }
  .nav .nav__dropdownnav .dropdownnav__closeicon {
    padding: 15px;
  }
  .nav .nav__dropdownnav .dropdownnav__menulist {
    list-style-type: none;
    display: inline-block;
    margin-right: auto;
    padding: 15px 15px 0 15px;
  }
  .nav .nav__dropdownnav .dropdownnav__menulist > li {
    padding-bottom: 15px;
  }
  .nav .nav__background {
    animation-duration: 0.5s;
    height: 100vh;
    width: 100%;
    background-color: #b3b3b3;
    opacity: 0.5;
    z-index: 1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    animation-fill-mode: forwards;
  }
  .nav .nav__background.hidden {
    display: none;
  }
  .nav .nav__background.showanimation {
    animation-name: showBackground;
  }
  .nav .nav__background.hideanimation {
    animation-name: hideBackground;
  }
}

@media (min-width: 550px) {
  .nav__hamburger.hidden {
    display: none;
  }
  .dropdownnav__closeicon.hidden {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav__avatar {
    border: none;
    background-color: inherit;
  }
  .nav__logo {
    max-width: 20%;
  }
  .nav__logo img {
    width: 80%;
  }
  .nav__dropdownnav {
    order: 1;
    flex-grow: 5;
    display: flex;
    margin-left: 5%;
  }
  .dropdownnav__menulist {
    display: flex;
  }
  .dropdownnav__menulist li {
    list-style-type: none;
    font-size: calc(0.3rem + 1vw);
    padding: 1vw;
    color: var(--darkgrayishblue);
  }
  .nav__avatar {
    order: 5;
    margin-left: 15px;
  }
  .nav__avatar img {
    height: 50px;
    width: 50px;
  }
  .nav__cart {
    order: 4;
    margin-left: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
}

button {
  border: none;
  background-color: inherit;
}

:root {
  /* Primary Colors */
  --orange: hsl(26, 100%, 55%);
  --paleorange: hsl(25, 100%, 94%);
  /* Neutral Colors */
  --veryvarkblue: hsl(220, 13%, 13%);
  --darkgrayishblue: hsl(219, 9%, 45%);
  --grayishblue: hsl(220, 14%, 75%);
  --lightgrayishblue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --blackwithopacity: hsl(0, 0%, 0%, 0.75);
}

h1 {
  width: 75%;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

h2 {
  color: var(--orange);
  letter-spacing: 1px;
  font-size: 1rem;
  padding-bottom: 20px;
}

img {
  cursor: pointer;
}

@media (max-width: 549px) {
  .slider__images {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 320px;
  }
  .slider__images.hidden {
    display: none;
  }
  .slider__images .slider__img {
    position: absolute;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
    height: 100%;
  }
  .slider__images .slider__img.hidden {
    display: none;
  }
  .slider__images .slider__img > img {
    width: 100%;
    height: 100%;
  }
  .slider__images .slider__icon {
    position: absolute;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .slider__images .slider__icon img {
    transform: scale(0.7);
  }
  .slider__images .slider__icon.slider__icon--next {
    right: 5%;
    top: calc(50% - 13px);
  }
  .slider__images .slider__icon.slider__icon--previous {
    left: 5%;
    top: calc(50% - 13px);
  }
  .slider__text > p {
    color: var(--darkgrayishblue);
    line-height: 1.3rem;
    padding-bottom: 20px;
  }
  .slider__text .content__pricing {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .slider__text .content__pricing .price__amount--discountedprice {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: bold;
    width: 90px;
  }
  .slider__text .content__pricing .price__amount--discount {
    color: var(--orange);
    border-radius: 10%;
    padding: 3px;
    flex-grow: 4;
  }
  .slider__text .content__pricing .price__amount--discount p {
    background-color: var(--paleorange);
    display: inline;
    padding: 3px;
    font-weight: 700;
    border-radius: 5px;
  }
  .slider__text .content__pricing .price__amount--originalprice {
    color: var(--grayishblue);
    text-decoration: line-through;
  }
  .slider__text .quantity__div {
    border-radius: 5px;
    background-color: var(--lightgrayishblue);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border: none;
  }
  .slider__text .quantity__div > button {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--lightgrayishblue);
  }
  .slider__text .quantity__div.quantity__div--addtoCart {
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    background-color: var(--orange);
    border-radius: 5px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
  }
}

@media (min-width: 550px) {
  .slider__img img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
  }
  .slider__img.active:hover {
    opacity: 0.5;
    outline: 5px solid var(--orange);
    border-radius: 7%;
  }
  .clicked {
    opacity: 0.5;
    outline: 5px solid var(--orange);
    border-radius: 7%;
  }
  .slider {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10%;
  }
  .slider__img {
    height: 70%;
  }
  .slider__img img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
  }
  .slider__images {
    width: 50%;
  }
  .slider__cart.hidden {
    display: none;
  }
  .slider__desktop {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .slider__icon {
    display: none;
  }
  .slider__text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
  }
  .slider__background {
    background-color: var(--blackwithopacity);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1;
    flex-direction: column;
  }
  .slider__background.hidden {
    display: none;
  }
  .content__largeimg {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 70%;
    max-height: 70%;
    position: relative;
  }
  .content__largeimg img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
  }
  .content__thumbnailimg {
    display: flex;
    margin: auto;
    max-width: 30%;
    gap: 20px;
    border-radius: 7%;
  }
  .content__button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content__button--next {
    top: 50%;
    right: -25px;
  }
  .content__button--previous {
    top: 50%;
    left: -25px;
  }
  .content__button img {
    width: 30%;
    height: 30%;
  }
  .content__button img:hover {
    transform: scale(1.2);
  }
  .content__button--close {
    top: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: inherit;
  }
  .content__button--close img {
    color: white;
  }
  .quantity__div.amount {
    width: 40%;
  }
  .content__amountbtn {
    display: flex;
    align-items: center;
  }
}

@keyframes showBackground {
  from {
    right: 0;
  }
  to {
    left: 100px;
  }
}

@keyframes hideBackground {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}

@keyframes showDropdawn {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes hideDropdawn {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}

@media (max-width: 549px) {
  .nav__cart {
    position: relative;
  }
  .nav__cart .cart__popup {
    position: absolute;
  }
  .nav__cart .cart__popup.cart__popup--orange {
    color: var(--white);
    font-size: 0.75rem;
    width: 14px;
    height: 14px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 100%;
    right: 6px;
    top: 20%;
  }
  .nav__cart .cart__popup.cart__popup--orange.hidden {
    display: none;
  }
  .nav__cart .cart__button img {
    height: 20px;
    width: 20px;
  }
  .cartproduct__checkoutbtn {
    width: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    grid-column: 1 / -1;
  }
  .cartproduct__deleteicon {
    display: flex;
    align-items: center;
  }
  .slider__cart {
    padding: 30px;
    z-index: 1;
    width: 90%;
    height: 90%;
    top: 20px;
    left: 20px;
    background-color: var(--white);
    border-radius: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .slider__cart.hidden {
    display: none;
  }
  .slider__cart .cart__order {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 50px 1fr 20px;
    gap: 25px;
    position: relative;
  }
  .slider__cart .cart__order.hidden {
    display: none;
  }
  .slider__cart .cart__title {
    font-weight: 700;
    padding-bottom: 30px;
  }
  .slider__cart .cart__title.hidden {
    display: none;
  }
  .slider__cart .cart__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkgrayishblue);
  }
  .slider__cart .cart__text.hidden {
    display: none;
  }
  .slider__cart .cart__order {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 50px 1fr 20px;
    gap: 25px;
    position: relative;
  }
  .slider__cart .cart__order .cartproduct__img > img {
    height: 60px;
    width: 60px;
    border-radius: 10%;
  }
  .slider__cart .cartproduct__description {
    color: var(--darkgrayishblue);
  }
  .slider__cart .cartproduct__description > p {
    padding: 5px;
  }
  .slider__cart .cartproduct__deleteicon {
    display: flex;
    align-items: center;
  }
  .cartproduct__checkoutbtn {
    width: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    grid-column: 1 / -1;
  }
  .cartproduct__deleteicon {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 550px) {
  .cart__button {
    border: none;
    background-color: inherit;
  }
  .cart__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */