@media (max-width: 549px) {
	.nav__cart {
		position: relative;
		.cart__popup {
			position: absolute;
			&.cart__popup--orange {
				color: var(--white);
				font-size: 0.75rem;
				width: 14px;
				height: 14px;
				background-color: var(--orange);
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				border-radius: 100%;
				right: 6px;
				top: 20%;
				&.hidden {
					display: none;
				}
			}
		}
		.cart__button {
			img {
				height: 20px;
				width: 20px;
			}
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}

	.slider__cart {
		padding: 30px;
		z-index: 1;
		width: 90%;
		height: 90%;
		top: 20px;
		left: 20px;
		background-color: var(--white);
		border-radius: 50px;
		position: absolute;
		display: flex;
		flex-direction: column;
		&.hidden {
			display: none;
		}
		.cart__order {
			padding-top: 30px;
			display: grid;
			grid-template-columns: 50px 1fr 20px;
			gap: 25px;
			position: relative;
			&.hidden {
				display: none;
			}
		}

		.cart__title {
			font-weight: 700;
			padding-bottom: 30px;
			&.hidden {
				display: none;
			}
		}
		.cart__text {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--darkgrayishblue);
			&.hidden {
				display: none;
			}
		}
		.cart__order {
			padding-top: 30px;
			display: grid;
			grid-template-columns: 50px 1fr 20px;
			gap: 25px;
			position: relative;
			.cartproduct__img {
				> img {
					height: 60px;
					width: 60px;
					border-radius: 10%;
				}
			}
		}
		.cartproduct__description {
			color: var(--darkgrayishblue);
			> p {
				padding: 5px;
			}
			.cartproduct__orderprice {
				&.cartproduct__orderprice--bold {
				}
			}
		}
		.cartproduct__deleteicon {
			display: flex;
			align-items: center;
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 550px) {
	.cart__button {
		border: none;
		background-color: inherit;
	}

	.cart__button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
