@media (max-width: 549px) {
	.nav__cart {
		position: relative;
		.cart__popup {
			position: absolute;
			&.cart__popup--orange {
				color: var(--white);
				font-size: 0.75rem;
				width: 14px;
				height: 14px;
				background-color: var(--orange);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				right: 6px;
				top: 20%;
				&.hidden {
					display: none;
				}
			}
		}
		.cart__button {
			img {
				height: 20px;
				width: 20px;
			}
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}

	.slider__cart {
		padding: 20px;
		z-index: 1;
		width: calc(100% - 40px);
		margin: 20px;
		height: 300px;
		top: 30px;
		left: 0;
		background-color: var(--white);
		border-radius: 10px;
		position: absolute;
		&.hidden {
			display: none;
		}

		.cart__title {
			font-weight: 700;

			&.hidden {
				display: none;
			}
		}
		.cart__line {
			width: 100%;
			background-color: grey;
			height: 0.5px;
			opacity: 0.5;
			position: absolute;
			left: 0;
			top: 65px;
		}
		.cart__text {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--darkgrayishblue);
			&.hidden {
				display: none;
			}
		}
		.cart__order {
			display: grid;
			grid-template-columns: minmax(50px, 75px) 1fr 10px;
			gap: 10%;
			padding-top: 40px;
			// position: relative;
			&.hidden {
				display: none;
			}
			.cartproduct__img {
				> img {
					height: 100%;
					width: 100%;
					border-radius: 10%;
				}
			}
		}
		.cartproduct__description {
			color: var(--darkgrayishblue);
			> p {
				padding: 5px;
			}
			.cartproduct__prices {
				display: flex;
				padding: 5px;
				.cartproduct__boldorderprice {
					font-weight: 700;
					margin-left: 5px;
				}
			}
		}

		.cartproduct__deleteicon {
			display: flex;
			align-items: center;
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		margin-top: 20px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 550px) {
	.nav__cart {
		position: relative;
		.cart__popup {
			position: absolute;
			&.cart__popup--orange {
				color: var(--white);
				font-size: 0.75rem;
				width: 14px;
				height: 14px;
				background-color: var(--orange);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				right: -5px;
				top: -5px;
				&.hidden {
					display: none;
				}
			}
		}
		.cart__button {
			img {
				height: 20px;
				width: 20px;
			}
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}

	.slider__cart {
		padding: 20px;
		z-index: 1;
		width: 350px;
		height: 250px;
		top: 60px;
		right: 0;
		-webkit-box-shadow: 0px 6px 20px -3px rgba(162, 162, 175, 1);
		-moz-box-shadow: 0px 6px 20px -3px rgba(162, 162, 175, 1);
		box-shadow: 0px 6px 20px -3px rgba(162, 162, 175, 1);
		background-color: var(--white);
		border-radius: 10px;
		position: absolute;
		display: flex;
		flex-direction: column;
		&.hidden {
			display: none;
		}

		.cart__title {
			font-weight: 700;
			padding-bottom: 40px;
			&.hidden {
				display: none;
			}
		}
		.cart__line {
			width: 100%;
			background-color: grey;
			height: 0.5px;
			opacity: 0.5;
			position: absolute;
			left: 0;
			top: 65px;
		}
		.cart__text {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--darkgrayishblue);
			&.hidden {
				display: none;
			}
		}
		.cart__order {
			display: grid;
			grid-template-columns: 60px 1fr 10px;
			gap: 15px;
			position: relative;
			&.hidden {
				display: none;
			}
			.cartproduct__img {
				> img {
					height: 100%;
					width: 100%;
					border-radius: 10%;
				}
			}
		}
		.cartproduct__description {
			color: var(--darkgrayishblue);
			> p {
				padding: 5px;
			}
			.cartproduct__prices {
				display: flex;
				padding: 5px;
				.cartproduct__boldorderprice {
					font-weight: 700;
					margin-left: 5px;
				}
			}
		}

		.cartproduct__deleteicon {
			display: flex;
			align-items: center;
		}
	}

	.cartproduct__checkoutbtn {
		width: 100%;
		border: none;
		background-color: var(--orange);
		color: var(--white);
		padding: 20px;
		margin-top: 10px;
		border-radius: 10px;
		grid-column: 1 / -1;
	}

	.cartproduct__deleteicon {
		display: flex;
		align-items: center;
	}
}
