* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1000px;
	margin: auto;
	font-family: "Kumbh Sans", sans-serif;
}

button {
	border: none;
	background-color: inherit;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

:root {
	/* Primary Colors */
	--orange: hsl(26, 100%, 55%);
	--paleorange: hsl(25, 100%, 94%);

	/* Neutral Colors */

	--veryvarkblue: hsl(220, 13%, 13%);
	--darkgrayishblue: hsl(219, 9%, 45%);
	--grayishblue: hsl(220, 14%, 75%);
	--lightgrayishblue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--blackwithopacity: hsl(0, 0%, 0%, 0.75);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	color: var(--orange);
	letter-spacing: 1px;
	font-size: 1rem;
}

img {
	cursor: pointer;
}
