@media (max-width: 549px) {
	.nav {
	display: flex;

	button {
		cursor: pointer;
	}

	> * {
		display: flex;
		align-items: center;
		padding: 10px;
	}

	.nav__logo {
		flex-grow: 4;
	}

	.nav__avatar {
		img {
			height: 25px;
			width: 25px;
		}
	}

	.nav__dropdownnav {
		height: 100vh;
		min-width: 200px;
		background-color: var(--white);
		animation-duration: 0.5s;
		display: block;
		position: absolute;
		z-index: 1;
		left: -200px;
		top: 0;
		flex-direction: column;
		font-weight: 700;
		padding: 0;
		&.showanimation {
			animation-name: showDropdawn;
			animation-fill-mode: forwards;
		}
		&.hideanimation {
			animation-name: hideDropdawn;
		}
		> * {
			cursor: pointer;
		}
		.dropdownnav__closeicon {
			padding: 15px;
		}
		.dropdownnav__menulist {
			list-style-type: none;
			display: inline-block;
			margin-right: auto;
			padding: 15px 15px 0 15px;
			> li {
				padding-bottom: 15px;
			}
		}
	}

	.nav__background {
		animation-duration: 0.5s;
		height: 100vh;
		width: 100%;
		background-color: hsl(0, 0%, 70%);
		opacity: 0.5;
		z-index: 1;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		flex-direction: column;
		animation-fill-mode: forwards;
		&.hidden {
			display: none;
		}
		&.showanimation {
			animation-name: showBackground;
		}
		&.hideanimation {
			animation-name: hideBackground;
		}
	}
}
}

@media (min-width: 550px) {
		// _nav
		.nav__hamburger.hidden {
			display: none;
		}
		// _nav
		.dropdownnav__closeicon.hidden {
			display: none;
		}
		// nav
		.nav {
			display: flex;
			align-items: center;
			margin-bottom: 150px;
			margin-left: 20px;
			margin-right: 20px;
		}
		// nav
		.nav__avatar {
			border: none;
			background-color: inherit;
		}
		.nav__logo {
			max-width: 20%;
		}
	
		.nav__logo img {
			width: 80%;
		}
	
		.nav__dropdownnav {
			order: 1;
			flex-grow: 5;
			display: flex;
			margin-left: 5%;
		}
	
		.dropdownnav__menulist {
			display: flex;
		}
	
		.dropdownnav__menulist li {
			list-style-type: none;
			font-size: calc(0.3rem + 1vw);
			padding: 1vw;
			color: var(--darkgrayishblue);
		}
	
		.nav__avatar {
			order: 5;
			margin-left: 15px;
		}
	
		.nav__avatar img {
			height: 50px;
			width: 50px;
		}
	
		.nav__cart {
			order: 4;
			margin-left: 15px;
		}
}