@media (min-width: 550px) {
	.slider {
		display: flex;
		margin-left: 20px;
		margin-right: 20px;
		gap: 5%;
		&__images {
			width: 50%;
			&mobile {
				&.hidden {
					display: none;
				}
			}
		}
		&__textsection {
			padding: 20px;
			display: flex;
			flex-direction: column;
			margin-top: 50px;
			width: 50%;
			padding: 0;
			> p {
				color: var(--darkgrayishblue);
				line-height: 1.3rem;
			}
			&prices {
				padding-top: 10px;
				.slider__textsectionflexbox {
					display: flex;
				}
				.slider__textsectionprice {
					font-weight: 700;
					font-size: 1.5rem;
					margin-right: 15px;
				}
				.slider__textsectiondiscount {
					color: var(--orange);
					align-items: center;
					display: flex;
					p {
						background-color: var(--paleorange);
						padding: 4px;
						border-radius: 10%;
						font-weight: 700;
					}
				}
				.slider__textsectionoriginalprice {
					margin-top: 7px;
					color: var(--grayishblue);
					text-decoration: line-through;
					display: block;
				}
			}

			&btn {
				border-radius: 5px;
				margin-top: 20px;
				background-color: var(--lightgrayishblue);
				padding: 15px;
				display: flex;
				justify-content: space-between;
				height: 50px;
				align-items: center;
				border: none;
				&--add {
					color: white;
					border: none;
					width: 100%;
					padding: 15px;
					margin-top: 10px;
					background-color: var(--orange);
					border-radius: 5px;
					display: flex;
					font-weight: 400;
					justify-content: center;
					align-items: center;
					font-size: 1rem;
					height: 50px;
					cursor: pointer;
				}
				&--add:hover {
					opacity: 0.5;
				}
			}
		}
	}

	.slider__desktopimages {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.slider__desktopmainimg {
			position: relative;
		}
		.slider__desktopthumbnails {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 10px;
		}
	}

	.slider__arrow {
		&.hidden {
			display: none;
		}
	}

	.slider__desktoparrow {
		position: absolute;
		background-color: white;
		border: none;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&.slider__desktoparrow--next {
			right: 5%;
			top: calc(50% - 13px);
		}
		&.slider__desktoparrow--previous {
			left: 5%;
			top: calc(50% - 13px);
		}
	}

	.slider__desktopthumbnails {
		display: flex;
		width: 50%;
	}
	.slider__lightbox {
		background-color: var(--blackwithopacity);
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		z-index: 1;
		flex-direction: column;
		&.hidden {
			display: none;
		}
	}

	.slider__lightboxmainimg {
		margin: 0 auto;
		margin-top: 50px;
		max-width: 70%;
		max-height: 70%;
		position: relative;
	}

	.slider__lightboxmainimg img {
		width: 100%;
		height: 100%;
		border-radius: 7%;
	}

	.slider__lightboxthumbnails {
		display: flex;
		margin: auto;
		max-width: 30%;
		gap: 20px;
		border-radius: 7%;
	}

	.slider__lightboxbtn {
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: white;
		border-radius: 100%;
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slider__lightboxbtn--next {
		top: 50%;
		right: -25px;
	}

	.slider__lightboxbtn--previous {
		top: 50%;
		left: -25px;
	}

	.slider__lightboxbtn img {
		width: 30%;
		height: 30%;
	}

	.slider__lightboxbtn img:hover {
		transform: scale(1.2);
	}

	.slider__lightboxbtn--close {
		top: -40px;
		right: 0;
		width: 40px;
		height: 40px;
		background-color: inherit;
	}

	.cslider__lightboxbtn--close img {
		color: white;
	}

	.slider__textsectionbtn {
		width: 100%;
		margin-right: 10px;
	}

	.slider__textsectionbuttons {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.slider__textsection {
		width: 50%;
	}
}
