@media (max-width: 549px) {
	.slider {
		&__mobile {
			position: relative;
			overflow: hidden;
			min-width: 320px;
			height: 320px;
			&img {
				position: absolute;
				border-radius: 0;
			}
		}
		&__arrow {
			position: absolute;
			background-color: white;
			border: none;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&--next {
				right: 5%;
				top: calc(50% - 13px);
			}
			&--previous {
				left: 5%;
				top: calc(50% - 13px);
			}
		}

		&__desktopimages {
			&.hidden {
				display: none;
			}
		}
		&__lightbox {
			&.hidden {
				display: none;
			}
		}
		&__textsection {
			padding: 20px;
			> p {
				color: var(--darkgrayishblue);
				line-height: 1.3rem;
			}
			&description {
				> * {
					margin-bottom: 10px;
				}
			}
			&prices {
				> * {
					margin-bottom: 20px;
					margin-top: 20px;
				}
				position: relative;
				.slider__textsectionflexbox {
					display: flex;
				}
				.slider__textsectionprice {
					font-size: 1.5rem;
					margin-right: 15px;
					letter-spacing: 1px;
					font-weight: 700;
					display: inline-block;
				}

				.slider__textsectiondiscount {
					display: flex;
					align-items: center;
					color: var(--orange);
					font-size: 1rem;
					font-weight: 700;
					p {
						border-radius: 10%;
						padding: 3px;
						background-color: var(--paleorange);
					}
				}
				.slider__textsectionoriginalprice {
					color: var(--grayishblue);
					text-decoration: line-through;
					position: absolute;
					right: 0;
					top: -15px;
				}
			}
			&buttons {
				> * {
					margin-bottom: 10px;
				}
			}
			&btn {
				border-radius: 5px;
				background-color: var(--lightgrayishblue);
				padding: 15px;
				display: flex;
				justify-content: space-between;
				height: 50px;
				align-items: center;
				border: none;
				&--add {
					color: white;
					border: none;
					width: 100%;
					padding: 15px;
					background-color: var(--orange);
					border-radius: 5px;
					display: flex;
					font-weight: 400;
					justify-content: center;
					align-items: center;
					font-size: 1rem;
					height: 50px;
					cursor: pointer;
					img {
						width: auto;
						height: auto;
					}
					&-add:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}
