:root {
	/* Primary Colors */
	--orange: hsl(26, 100%, 55%);
	--paleorange: hsl(25, 100%, 94%);

	/* Neutral Colors */

	--veryvarkblue: hsl(220, 13%, 13%);
	--darkgrayishblue: hsl(219, 9%, 45%);
	--grayishblue: hsl(220, 14%, 75%);
	--lightgrayishblue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--blackwithopacity: hsl(0, 0%, 0%);
}
